@font-face {
  font-family: poppins;
  font-style: normal;
  font-weight: 400;
  src: local('Poppins'),
    url('@/assets/fonts/poppins/Poppins-Regular.woff') format('woff');
}

@font-face {
  font-family: poppins;
  font-style: italic;
  font-weight: 400;
  src: local('Poppins'),
    url('@/assets/fonts/poppins/Poppins-Italic.woff') format('woff');
}

@font-face {
  font-family: poppins;
  font-style: normal;
  font-weight: 250;
  src: local('Poppins'),
    url('@/assets/fonts/poppins/Poppins-Thin.woff') format('woff');
}

@font-face {
  font-family: poppins;
  font-style: italic;
  font-weight: 250;
  src: local('Poppins'),
    url('@/assets/fonts/poppins/Poppins-ThinItalic.woff') format('woff');
}

@font-face {
  font-family: poppins;
  font-style: normal;
  font-weight: 275;
  src: local('Poppins'),
    url('@/assets/fonts/poppins/Poppins-ExtraLight.woff') format('woff');
}

@font-face {
  font-family: poppins;
  font-style: italic;
  font-weight: 275;
  src: local('Poppins'),
    url('@/assets/fonts/poppins/Poppins-ExtraLightItalic.woff') format('woff');
}

@font-face {
  font-family: poppins;
  font-style: normal;
  font-weight: 300;
  src: local('Poppins'),
    url('@/assets/fonts/poppins/Poppins-Light.woff') format('woff');
}

@font-face {
  font-family: poppins;
  font-style: italic;
  font-weight: 300;
  src: local('Poppins'),
    url('@/assets/fonts/poppins/Poppins-LightItalic.woff') format('woff');
}

@font-face {
  font-family: poppins;
  font-style: normal;
  font-weight: 500;
  src: local('Poppins'),
    url('@/assets/fonts/poppins/Poppins-Medium.woff') format('woff');
}

@font-face {
  font-family: poppins;
  font-style: italic;
  font-weight: 500;
  src: local('Poppins'),
    url('@/assets/fonts/poppins/Poppins-MediumItalic.woff') format('woff');
}

@font-face {
  font-family: poppins;
  font-style: normal;
  font-weight: 600;
  src: local('Poppins'),
    url('@/assets/fonts/poppins/Poppins-SemiBold.woff') format('woff');
}

@font-face {
  font-family: poppins;
  font-style: italic;
  font-weight: 600;
  src: local('Poppins'),
    url('@/assets/fonts/poppins/Poppins-SemiBoldItalic.woff') format('woff');
}

@font-face {
  font-family: poppins;
  font-style: normal;
  font-weight: 700;
  src: local('Poppins'),
    url('@/assets/fonts/poppins/Poppins-Bold.woff') format('woff');
}

@font-face {
  font-family: poppins;
  font-style: italic;
  font-weight: 700;
  src: local('Poppins'),
    url('@/assets/fonts/poppins/Poppins-BoldItalic.woff') format('woff');
}

@font-face {
  font-family: poppins;
  font-style: normal;
  font-weight: 800;
  src: local('Poppins'),
    url('@/assets/fonts/poppins/Poppins-ExtraBold.woff') format('woff');
}

@font-face {
  font-family: poppins;
  font-style: italic;
  font-weight: 800;
  src: local('Poppins'),
    url('@/assets/fonts/poppins/Poppins-ExtraBoldItalic.woff') format('woff');
}

@font-face {
  font-family: poppins;
  font-style: italic;
  font-weight: 900;
  src: local('Poppins'),
    url('@/assets/fonts/poppins/Poppins-BlackItalic.woff') format('woff');
}
